<footer class="footer">
  <p class="footer-content">
    &copy; 2024 license-token by
    <a href="https://iunera.com" target="_blank" class="footer-link">iunera</a>All Rights Reserved
    <span class="link-separator">|</span>
    <a [routerLink]="'wiki'" class="footer-link">Wiki</a>
    <span class="link-separator">|</span>
    <a href="https://www.iunera.com/imprint/" class="footer-link">Imprint</a>
    <span class="link-separator">|</span>
    <a [routerLink]="'privacy-policy'" class="footer-link">Privacy Policy</a>
  </p>
</footer>
