@import "../../../styles/variables";
@import "../../../styles/global";

.footer {
  padding: 20px;
  text-align: center;
  background-color: $background-dark;

  .footer-content {
    display: inline-flex; // Arrange all elements in a horizontal row
    flex-wrap: wrap; // Allow wrapping for smaller screens if needed
    justify-content: center;
    align-items: center;
    gap: 12px; // Space between elements
    margin: 0;
    font-size: 0.875rem;
    color: $text-muted;

    a {
      color: $primary-yellow;
      text-decoration: none;

      &:hover {
        color: $hover-light;
        text-decoration: underline;
      }
    }

    .link-separator {
      color: $text-muted; // Match muted tone for the separator
    }
  }
}
