@use "variables" as *;
/* Styles for Latest Wiki Entries Section */
.wiki-entries {
  margin: 40px;
}

.wiki-entries-title {
  font-size: 24px;
  margin-bottom: 15px;
  text-align: center;
}

.wiki-entries-list {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  margin: 0;
  padding: 0;
}

.wiki-entry-card {
  min-width: 250px;
  padding: 26px;
  border: 1px solid $primary-yellow;
  a {
    color: $text-light;
    text-decoration: none;
  }
  &:hover {
    transform: translateY(-10px);
    box-shadow: 0 2px 2px rgba(225, 225, 143, 0.4);
  }
}

.wiki-entry-item {
  padding: 0;
}
