<div class="contact-container">
  <h1>Talk to us</h1>
  <p>If you are interested and want to get in touch, please contact us through one of the following channels:</p>

  <div class="contact-section">
    <h3>by email</h3>
    <p><a href="mailto:augmenta@iunera.com">augmenta&#64;iunera.com</a></p>
  </div>

  <div class="contact-section">
    <h3>at bluesky</h3>
    <a href="https://bsky.app/profile/license-token.com" target="_blank" class="social-profile-link">https://bsky.app/profile/license-token.com
    </a>
  </div>

  <div class="contact-section">
    <h3>at twitter/x</h3>
    <a href="https://x.com/iuneracom" target="_blank" class="social-profile-link">https://x.com/iuneracom</a>
<!--    <app-oembed oembedUrl="https://publish.twitter.com/oembed?url=https://x.com/iuneracom"></app-oembed>-->
<!--    <app-oembed oembedUrl="https://embed.bsky.app/oembed?url=https://bsky.app/profile/license-token.com"></app-oembed>-->
  </div>
</div>
