@use "variables" as *;

.contact-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
  background-color: $background-secondary;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

  h1 {
    margin-bottom: 20px;
    font-size: 2.5em;
    color: $primary-yellow;
  }

  p {
    margin-bottom: 20px;
    font-size: 1.2em;
    color: $text-light;
  }

  a {
    color: $primary-yellow;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }

  iframe {
    border: none;
    margin-bottom: 20px;
    width: 100%;
    height: 400px;
  }

  .contact-section {
    margin-bottom: 40px;

    h2 {
      margin-bottom: 10px;
      font-size: 2em;
      color: $primary-yellow;
    }

    p {
      font-size: 1.2em;
      color: $text-light;
    }
  }

  .social-profile-link {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: inherit;

    &:hover {
      text-decoration: underline;
    }

    .bluesky-profile-picture {
      margin-right: 10px;
    }

    span {
      font-size: 1.2em;
      color: $primary-yellow;
    }
  }
}
