<mat-drawer-container>
  <mat-drawer-content>
    <!-- Hero Section -->
    <div class="hero">
      <div class="hero-overlay">
        <div class="hero-content">
          <h1 class="hero-title">
            <!--            WAS???-->
            <span>We make open source projects</span> sustainable
          </h1>
          <p class="hero-subtitle">
            Apply the Open Compensation Token license to your <b>opensource project</b> and start getting paid for your
            work.
          </p>
          <div class="hero-buttons">
            <button mat-raised-button color="primary" class="hero-btn" (click)="scrollToSection()">What does it?
            </button>
            <button mat-raised-button color="primary" class="hero-btn" (click)="navigateToApplyLicense()" >Apply License</button>
            <button mat-raised-button color="primary" class="hero-btn" (click)="navigateToDonate()">Donate on opensea</button>
          </div>
        </div>
      </div>
      <div class="scroll-down-btn">
        <a href="#content">
          <span></span>
        </a>
      </div>
    </div>

    <div id="content">

      <!-- Why Choose Us Section -->
      <div id="why-choose-us" class="why-choose-us">
        <div class="why-container">
          <h2 class="why-title">How it helps you! what does it for me
            <!--          Why Choose Us? For whom is it-->
          </h2>
          <p class="why-description">
            You have a open source project
            <!--          you are a indi-hacker?-->


            <!--          what does it for me check-->
            <!--          &lt;!&ndash; Warum macht das die Kunden glücklich &ndash;&gt;-->
            <!--          what does it for my users - -->
            <!--          What it does for your users! can use reliable projects-->
            <!--          clear estimation about what it costs-->
            <!--          transparency-->
            <!--          security who was working on the project. Proof of ownership-->


            <!--          &lt;!&ndash; warum ist das geil für die OS Community &ndash;&gt;-->
            <!--          geld verdienen an vorhandenen Projekten-->
            <!--          find supporters more easily-->
            <!--          non-profit use is still free-->
            /

            <!--          &lt;!&ndash; warum bringt es die Welt voran&ndash;&gt;-->
            <!--          and where do you take me-->
          </p>
          <p class="why-description">
            you are a indi-hacker?
          </p>
          <div class="why-grid">
            <div class="why-card">
              <div class="why-card-icon">
                <mat-icon class="why-icon">person</mat-icon>
              </div>
              <h3 class="why-card-title">Whats in it for you?</h3>
              <p class="why-card-description">
                Experience unmatched speed and performance designed to handle
                the most complex workflows effortlessly.
              </p>
            </div>
            <div class="why-card">
              <div class="why-card-icon">
                <mat-icon class="why-icon">people</mat-icon>
              </div>
              <h3 class="why-card-title"> Warum macht das die Kunden glücklich</h3>
              <p class="why-card-description">
                With industry-leading protocols, your systems and assets are
                always safe and secure with us.
              </p>
            </div>
            <!--          <mat-card class="why-card">-->
            <!--            <mat-card-header>-->
            <!--              <mat-card-title>Speed</mat-card-title>-->
            <!--            </mat-card-header>-->
            <!--            <mat-card-content>-->
            <!--              <p>Unmatched scalability and performance, lightning fast!</p>-->
            <!--            </mat-card-content>-->
            <!--          </mat-card>-->
            <div class="why-card">
              <div class="why-card-icon">
                <mat-icon class="why-icon">public</mat-icon>
              </div>
              <h3 class="why-card-title">Why does it make the world better</h3>
              <p class="why-card-description">
                Designed for scalability, our solutions grow with your project
                and future-proof your business.
              </p>
            </div>
          </div>
        </div>
      </div>

      <!-- Known From Section -->
      <div id="known-from" class="known-from">
        <h2 class="known-from-title">You know our tech from</h2>
        <p class="known-from-description">Our work has been recognized and featured by industry-leading platforms:</p>
        <div class="known-from-logo-container">
          <div class="logo-item">
            <p class="logo-title">Fahrbar20</p>
            <a href="https://www.iunera.com/kraken/big-data-examples/how-nfts-and-ai-can-solve-public-transport-challenges/" target="_blank">
              <img src="../assets/images/logo-fahrbar20.svg" alt="Fahrbar20">
            </a>
            <p class="logo-subtitle">NFTs and AI solving public transport challenges</p> <!-- Subtitle -->
          </div>

          <div class="logo-item">
            <p class="logo-title">Tracking, Prediction and Analytics</p>
            <a href="https://www.iunera.com/kraken/big-data-examples/third-party-data-geotracking-coronavirus/" target="_blank">
              <img src="../assets/images/logo-trackingapp.png" alt="Tracking App">
            </a>
            <p class="logo-subtitle">Insights from Covid pandemic tracking apps</p>
          </div>

          <div class="logo-item">
            <p class="logo-title">AI Social Altcoin Analytics</p>
            <a href="https://www.youtube.com/watch?v=4tv_L7W76b8" target="_blank">
              <img src="../assets/images/logo-scoinanalytics.png" alt="Scoinanalytics">
            </a>
            <p class="logo-subtitle">AI-powered altcoin trends and tweetbot</p>
          </div>

          <div class="logo-item">
            <p class="logo-title">AI Analytics of German Federal Election</p>
            <a href="https://www.iunera.com/kraken/projects/baden-tv-interview-dr-frey-bundestagswahlanalyse/" target="_blank">
              <img src="../assets/images/logo-bundestagswahlanalyse.png" alt="Election Analytics">
            </a>
            <p class="logo-subtitle">In-depth election analysis powered by AI</p>
          </div>

          <div class="logo-item">
            <p class="logo-title">Swarm Travel Guide Apps</p>
            <a href="https://www.chip.de/downloads/Stappz-Android-App_74740571.html" target="_blank">
              <img src="../assets/images/logo-stappz.png" alt="Stappz">
            </a>
            <p class="logo-subtitle">Discover destinations with travel guide apps</p>
          </div>
        </div>
      </div>

<!--      &lt;!&ndash; Footer Section &ndash;&gt;-->
<!--      <footer class="footer">-->
<!--        <p>&copy; 2024 license-token powered by <a href="https://iunera.com" target="_blank">iunera</a>. All Rights-->
<!--          Reserved.</p>-->
<!--      </footer>-->
    </div>

  </mat-drawer-content>
</mat-drawer-container>

<!--<router-outlet/>-->
