<mat-drawer-container>
  <mat-drawer-content>
    <!-- GitHub Link -->
    <div class="github-link">
      <a href="https://github.com/open-compensation-token-license?q=octl+public&type=all&language=&sort=" target="_blank">
        <img src="../../../assets/images/github_lockup_light.svg" alt="GitHub">
      </a>
    </div>

    <!-- Hero Section -->
    <div class="hero">
      <div class="hero-overlay">
        <div class="hero-content">
          <h1 class="hero-title">
            <span>we make<s><span matTooltip="{{ whyNoOpensource }}" matTooltipPosition="above"> open </span></s> source code</span> sustainable
          </h1>
          <p class="hero-subtitle">
            Apply the Open Compensation Token license (OCTL) to your <b>open source project</b> and start getting paid for your work.
          </p>
          <div class="hero-buttons">
            <button mat-raised-button color="primary" class="hero-btn" (click)="scrollToSection()">What does it do?</button>
            <button mat-raised-button color="primary" class="hero-btn" [routerLink]="'/contact'">Contact us</button>
            <button mat-raised-button color="primary" class="hero-btn" (click)="navigateToDonate()">Donate</button>
            <button mat-raised-button color="primary" class="whitepaper-btn" (click)="navigateToWhitepaper()">Whitepaper</button>
          </div>
        </div>
      </div>
      <div class="scroll-down-btn">
        <a href="#content">
          <span></span>
        </a>
      </div>
    </div>

    <!-- Why Section -->
    <div id="content">
      <div id="why-choose-us" class="why">
        <div class="why-container">
          <h2 class="why-title">{{ why.title }}</h2>
          <div class="why-description" [innerHTML]="why.description"></div>
        </div>
        <div class="why-grid">
          <div *ngFor="let card of why.cards" class="why-card">
            <div class="why-card-icon">
              <mat-icon class="why-icon">{{ card.icon }}</mat-icon>
            </div>
            <h3 class="why-card-title">{{ card.title }}</h3>
            <div class="why-card-description" [innerHTML]="card.description"></div>
          </div>
        </div>
      </div>

      <!-- Known From Section -->
      <div id="known-from" class="known-from">
        <h2 class="known-from-title">{{ knowFrom.title }}</h2>
        <p class="known-from-description">{{ knowFrom.subTitle }}</p>
        <div class="known-from-logo-container">
          <div *ngFor="let logo of knowFrom.points" class="logo-item">
            <p class="logo-title">{{ logo.title }}</p>
            <a [href]="logo.link" target="_blank">
              <img [src]="logo.image" [alt]="logo.alt">
            </a>
            <p class="logo-subtitle">{{ logo.subtitle }}</p>
          </div>
        </div>

      </div>

    </div>

  </mat-drawer-content>
</mat-drawer-container>
