
    <div class="cta-section">
      <div class="cta-container">
        <h2 class="cta-title">Take Action and Empower Open-Source</h2>
        <p class="cta-description">
          Join the movement to create a sustainable future for developers. Apply the <b>Open Compensation Token License
          (OCTL)</b> to your project to start monetizing your work while strengthening the open-source community.
        </p>

        <!-- Buttons -->
        <div class="cta-buttons">
          <button
            mat-raised-button
            color="primary"
            class="cta-btn"
            (click)="onNavigateToLicense()">
            Apply the License
          </button>
          <button
            mat-stroked-button
            color="accent"
            class="cta-btn"
            (click)="onDonate()">
            Support Us with a Donation
          </button>
        </div>
      </div>
    </div>
