// styles/_global.scss

/************************************
 * Global Styles
 ************************************/
body,
html {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  background-color: $background-dark;
  color: $text-light;
  scroll-behavior: smooth;
}
