$background-default: #0d0d0d; // Main dark background
$background-secondary: #1a1a1a; // Secondary background // TODO 121415
$primary-yellow: #E1E18F; // Highlight color
$text-light: #e0e0e0; // Light text
$text-muted: #808080; // Muted text for subtitles, etc.
$hover-light: #fafafa; // Hover effect light color

